.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.7);
  padding: 2%;
  border-radius: 6px;
}

.formTitle {
  color: white;
  text-align: left;
  margin: 2%;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1.16073px;
  color: #f2f2f2;
  margin-bottom: 10%;
}
.login {
  background: url("./assets/images/login-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.loginForm {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  margin: 0 0 1rem 0;
}

.ingresarButton {
  margin-top: 10%;

  background-color: transparent;

  width: 266px;
  height: 40px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.5);
}
.ingresarButton:active {
  background-color: gray;
}

.loginInput {
  width: 258px;
  height: 40px;
  border-radius: 6px;
  background-color: #3e3e3e;
  border-style: solid;
  border: none;
  text-indent: 10px;
  color: white;
}
.loginInput::placeholder {
  color: white;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.mainDashboardContainer {
  gap: 1rem;
  grid-auto-flow: row;
  margin: 0 0 1rem 0;
}
.dashboard {
  background-color: rgb(215, 215, 215);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3%;
}
.token {
  word-wrap: break-word;
  background: #3e3e3e;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(17, 15, 21, 0.35);
  border-radius: 6px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
  padding: 1.5%;
  margin-top: 1%;
  margin-bottom: 2%;
}
.logOutButton {
  width: 139px;
  height: 40px;
  background-color: #e02020;
  color: white;
  border-radius: 6px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  text-align: center;
  border: none;
}

.buttons {
  text-align: right;
}
.tabContainerDashboard {
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tablinks {
  background-color: #2c167a !important;
  color: white;
  margin: 2px;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;

  border-top: none;
}
